#layout-middle {
	background: url("../img/bg-middle.jpg") top center repeat-x;
	background-color: #d3d1ce;
	height: 400;
}

#layout-top {
	background: url("../img/bg-sides.png") bottom center repeat-x;
	height: 560px;
}

#layout-bottom {
	background: black url("../img/bg-top.jpg") no-repeat 50% 70%;
	height: 200px;
}

body {
	min-width: 990px;
	background: #040404 url("../img/bg-top.jpg") 50% 0 no-repeat;
	color: #4a4a4a;
	font: normal 12px/1.5 "Trebuchet MS", Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.clear {
	clear: both;
	display: block;
}

.nav-bar {
	font-size: 18px;
	width: 100%;
	height: 44px;
	border-width: 0 0 1px 0;
	border: 1px solid rgba(255, 255, 255, 0.07);
	background: rgba(255, 255, 255, 0.05);
}

.carret {
    content: "";
    margin: 2px;
    background-image: url("../img/sprite-16-white.png");
    display: inline-block;
    width: 16px;
    height: 16px;
    overflow: hidden;
    line-height: 16px;
    vertical-align: top;
    background-repeat: no-repeat;
    background-position: -64px -256px;
    vertical-align: middle;
    opacity: 0.5;
    margin-left: 5px;
}
    
.nav-list a {
	text-decoration: none;
	color: #bbb;
	background-size: 40px;
    margin-left: 30px;
}

.nav-list a:hover {
	color: white;	
}

.nav-list a:hover .carret {
        opacity: 1;
}

.nav-list {
	line-height: 44px;
	padding: 0;
	margin: 0;
}

.nav-home {
	display: inline-block;
	float: left;
	width: 44px;
	height: 44px;
	background-image: url("../img/logo-bnet-compact.png");
}

.nav-list li {
	display: inline;
	padding
	list-style: none;
}

.nav-bar {

}

.nav-container {
	box-sizing: border-box;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding-right: 40px;
	padding-left: 40px;
}

.nav-left {
	float: left;
}

.nav-right {
	float: right;
}

.nav-blizz-icon {

}
.wrapper {
	width: 990px;
	margin: auto;
	position: relative;
}

#header {
	padding-top: 50px;
}

#logo .bnet-logo {
	width: 402px;
	height: 92px;
	display: block;
	background: url("../img/bnet-default.png") no-repeat;
}

#section {
	padding: 15px 15px 0 20px;
	background: url("../img/section-bg.png") 50% 0 no-repeat;
}

#join {
	float: left;
	width: 670px;
	font-size: 14px;
}

#join h2 {
	margin-bottom: 50px;
}

#join .welcome {
	color: #a2b9c2;
}

#join .welcome:hover {
	color: white;
}

#join .welcome:hover span {
	background: #3a4c53;
	border-color: #3a4c53;
	color: #93bdce;
}

a {
	text-decoration: none;
	color: white;
}

.link {
	color: #00b6ff;
}

.link:hover {
	color: white;
}

#learn-more {
	padding: 5px;
	font-size: 12px;
	border-radius: 5px;
	color: #566b73;
	display: inline-block;
	border: 1px solid #3a4c53;
}


#desktop-app:hover .app-screen {
	background-position: -256px;
}

#desktop-app:hover .text {
	color: white;
}

#desktop-app .app-screen {
	width: 256px;
	height: 176px;
	background: url('../img/app-screen-small.png') no-repeat 0 0;
}

#desktop-app {
	float: right;
	text-align: center;
}

.button {
	background: #0081b4;
	font-size: 12px;
	margin-bottom: 5px;
	margin-right: 10px;
	display: inline-block;
	color: #fff;
	padding: 8px 15px;
	border-radius: 3px;
	box-shadow: 0 0 4px 2px #202325;
}

.button:hover {
    background: #00b6ff;
}
/***********************/
/* PAGE CONTENT STYLES */
/***********************/

.game-column {
	width: 163px;
	float: left;
}

.game-heading {
	text-align: center;
	line-height: 3.6;
	font-size: 14px;
}


.game-column a {
	text-decoration: none;
	color: white;
	display: block;
        width: 163px;
        height: 392px;
	top: -95px;
	position: relative;
	border: 1px solid #3E414A;
	color: #B2BAC7;
	padding: 0;
}

#homepage .game-promo a:hover {
	background-position: -248px 0; 
}

#game-wow a {
	background: url("../img/wow.png") 0 0 no-repeat;
}
#game-d3 a{
	background: url("../img/diablo3.png") 0 0 no-repeat;
}
#game-sc2 a{
	background: url("../img/starcraft2.png") 0 0 no-repeat;
}
#game-heroes a {
	background: url("../img/heroes.png") 0 0 no-repeat;
}
#game-hs a {
	background: url("../img/hearthstone.png") 0 0 no-repeat;
}
#game-overwatch a {
	background: url("../img/overwatch.png") 0 0 no-repeat;
}

/******************************/
/*    FOOTER *****************/
/*****************************/
#footer {
        padding-top: 20px;
        padding-left: 40px;
        padding-right: 40px;
}

.nav-item {
        color: #7b7b7b;
}

.nav-item:hover {
        color: #fff;
}

.nav-item:hover .carret {
        opacity: 1;
}

.nav-icon {
        width: 24px;
        height: 24px;
        display: inline-block;
        background-image: url("../img/sprite-24-blue.png");
        vertical-align: middle;
        margin-right: 10px;
}
.nav-icon-question-circle {
  background-position: -96px 0px;
}
.nav-icon-edit {
  background-position: -144px -24px;
}
.nav-icon-globe {
  background-position: -120px -432px;
}
.nav-section {
        font-size: 15px;
        margin-bottom: 30px;
}
.nav-section::after {
        clear: both;
}

#footer-nav {
        list-style: none;
        padding-left: 30px;
        display: block;
        height: 20px;
        margin-top: 10px;
        margin-bottom: 5px;
}

#footer-logo {
        float: left;
        cursor: pointer;
}

#copyright {
        display: block;
        padding-left: 40px;
}

#footer-nav li {
        float: left;
        padding-right: 10px;
        margin-left: 10px;
        cursor: pointer;
        border-right: 1px solid #7b7b7b;
}
#footer-nav li:last-child {
        border: none;
}

#bottom-nav {
        display: block;
}
