#layout-middle {
	background: url("../img/bg-middle.jpg") top center repeat-x;
	background-color: #d3d1ce;
	height: 200px;
}

#layout-top {
	background: url("../img/bg-sides.png") bottom center repeat-x;
	height: 200px;
}

#layout-bottom {
	background: black url("../img/bg-top.jpg") no-repeat 50% 70%;
	height: 200px;
}

body {
	min-width: 990px;
	background: #040404 url("../img/bg-top.png") 50% 0 no-repeat;
	color: #4a4a4a;
}
